/*creating a container for a grid,
making borders, gaps and deciding how things looks*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: all .3 ease;
}
.grid-container {
    display: grid;
    min-width: fit-content;
    min-height: 100vh;
    grid-template-columns: 0.21fr 0.8fr;
    grid-template-rows: 0.4fr 3fr;
    grid-template-areas: 
      'sidebar header' 
      'sidebar  content' ;
    background-image: linear-gradient(to right, #041C32 , #1278B9);

}

.grid-container>div{
    padding: 25px;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-button{
    display: inline-flex;
    justify-content: space-between;
}

.sidebar{
    background-color: #041C32;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}
.header-sidebar{
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.main{
    grid-template-areas: content;
    
}

.main h1{
    font-size : clamp(2rem, 5vw, 5rem);
    padding: 20px 0;
}

.content{
    overflow: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.content>div{
    padding: 15px 4px;
    background-size: cover;
    min-height: 175px;
    position: relative;
    background-color: #041C32;
    border-radius: 10px;
    
}
.userPage{
    background-image: linear-gradient(to right, #041C32 , #147BD1);
    overflow: auto;
    grid-area: content;
}


/*buttons*/
button {
    padding: 10px 20px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #04293A;
    transition-duration: 0.2s;
    font-size: 14px;
    color: white;
    cursor: pointer;
    }

button:hover{
   opacity: 0.8;

}
.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin-bottom:10px;
    height: 40px;    
    width: 100%;    
}
.facebook{
    background-color: #1977f3;
}
.google{
    background-color: white;
    color: black;
    border-color: black;
    border-width: 1.5px;
}

.user-icon{
    padding: 40px 20px;
}



.header-button{
 float: right;
 margin-left: 10px;
}

.logo {
    height: 75px;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;

} 
li a {
    display: block; /*makes a clickable box around*/
    text-align: left;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
li a:hover {
    background-color: #1278B9;
  }
audio {
    max-width: 90%;
    object-fit: contain;
}
.songcover{
    align-self: center;
    text-align: center;
    max-width: 170px;
    max-height: 170px;
    transition-duration: 0.3s;
    
}
.songcover:hover{
    opacity: 0.8;
}

.songdiv{
    max-width: 200px;
    max-height: 200px;
    transition-duration: 0.3s;
    text-align: center;
    position: relative;
}
/*.songdiv:hover {
    transition-duration: 0.3s;
    display: inline;
    position: relative;
    bottom: 20px;
    margin: -20px;
}*/
.songdiv>i{
    position: absolute;
    bottom: 22px;
    right: -6px;
    margin-bottom: 2px;
   
}
.songdiv>i:hover{
    transition-duration: 0.3s;
    bottom:32px
}
.songtitle{
    
    font-size: 16px;
    color: white;
    text-align: center;
}
.songartist{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.662);
    text-align: center;
    text-decoration: none;
}

.songartistpage{
margin-left: 10px;
}
/*responsiveness*/
        
@media (max-width: 600px) {
    .grid-container  {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'sidebar'
    'content'
    ;
    }

    
    
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 10px;
    }
    .content>div{
        padding-top: 15px;
        padding-bottom: 45px;
        padding-left: 4px;
        padding-right: 4px;
        background-size: cover;
        min-height: 175px;
        position: relative;
        background-color: #041C32;
        border-radius: 10px;
    }
    .logo{
        width: auto;
    }
}
@media (min-width:600px) and (max-width: 768px ) {
    .grid-container  {
        grid-template-rows:auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'sidebar'
        'content'
        ;
        }
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: auto auto auto auto auto;
            grid-gap: 10px;
        }
        .content>div{
            padding-top: 15px;
            padding-bottom: 45px;
            padding-left: 4px;
            padding-right: 4px;
            background-size: cover;
            min-height: 175px;
            position: relative;
            background-color: #041C32;
            border-radius: 10px;
        }
        .logo{
            width: auto;
        }
    
}

@media (min-width:768px) and (max-width: 1188px ) {
    .grid-container  {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'sidebar'
        'content'
       ;
        }
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: auto auto auto auto auto;
            grid-gap: 10px;
        }
        .content>div{
            padding-top: 15px;
            padding-bottom: 45px;
            padding-left: 4px;
            padding-right: 4px;
            background-size: cover;
            min-height: 175px;
            position: relative;
            background-color: #041C32;
            border-radius: 10px;
        }
        .logo{
            width: auto;
        }
    
}


/*form css*/
.legal{
    bottom: 0%;
    float: left;
    font-size: 10px;
    opacity: 0.7;
}

.wrapper{
    background-image: linear-gradient(to right, #041C32 , #1278B9);
    display: flex;
    min-height: 100vh;
    height:auto;
    align-items: center;
    flex-direction: column;  
   
}

.input-group{
    padding: 5px 0px;
}

input{
    height: 35px;
    padding: 0px 10px;
    border: 2px solid #1278B9;
    border-radius: 25px;
    color: black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}


.logo{
    padding-bottom: 5px;
    /*filter to this color the image #EF8C57 https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css*/
}

.form{
    background-color: white;
    border:4px solid #041C32 ;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}

.title{
    padding-bottom: 10px;
}

.text-login{
    color: #04293A;
}

.signup-wrapper{
    padding-top: 20px;
}


.text-error{
     color:#FF5959;
}

.text-center{
    text-align: center;
}

.wrapper-box{
    grid-area: content;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.new-playlist-box{
    display: flex;
    border-radius: 25px;
    padding: 25px ;
    flex-direction: column;
    align-items: center;
    background-color: #041C32 ;
    box-shadow: 0 30px 60px rgba(0,0,0,.12), 0 30px 60px rgba(0,0,0,.06);
}




.margin-sm{
    margin: 10px;
}

.input-big{
    padding: 0 15px;
    height:45px;
    border: 2px solid #1278B9;
    border-radius: 45px;

}

textarea.input-big{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: larger;
}



/*autocomplete css*/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    max-width: 270px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  
  .ui-autocomplete > li > div {
    font-size: large;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #041C32;
    white-space: nowrap;
  }
  
  .ui-state-hover,
  .ui-state-active,
  .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /*///////////////USER PAGE/////////////////*/

  .container{
    display: inline;
    position: relative;
  }

  .userPicture{
    height: 100px;
    border-radius: 50px;
    margin: 10px;
    transition-duration: 0.3s;
  }

  .container:hover .userPicture{
    opacity: 0.5;
  }


  .changePicture{
    position: absolute;
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0;
    transition-duration: 0.3s;
    text-decoration: none;
  }
  .container:hover .changePicture{
    opacity: 1;
  }
  .userName{
    display: inline;
    font-size : clamp(4rem, 10vw, 6rem);
    font-style: normal;
    position: relative;
    bottom: 25px;
  }
  .userText{
    font-size: 30px;
    opacity: 0.9;
  }

  /*dropdown playlist*/
  .add-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  


  /* Change the background color of the dropdown button when the dropdown content is shown */
   .add-btn:hover {
    background-color: #3e8e41;
  }

  

  .search-grid{
    grid-area: content;
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto;
    grid-gap: 10px;
    
  }

  .search-grid>div{
    padding: 15px 4px;
    background-size: cover;
    min-height: 175px;
    position: relative;
    background-color: #041C32;
    border-radius: 10px;
}
  
  .search-bar{
    display: inline-block;
}


select{
    width: 250px;
    height: 45px;
    border-radius: 25px;
    padding: 0 10px;
    color: black;
}

option{
    color: black;
}

.add-song-box{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.custom-select{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    
}

.custom-select>select{
    width: 200px;
}

/*playlist*/
.playlist-name{
    font-size : clamp(4rem, 10vw, 10rem);
}

.playlist-box{
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.song-element{
    padding: 15px;
    border-radius: 10px;
}

.song-element:hover{
    background-color: #1278B9
}

.inline{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

.playIcon{
    padding-right: 10px;
}

.playIcon:hover{
    font-size:2em;
    transition: 0.2s ease-out
}

/*audio control footbar*/
.audio-container {
    padding: 26px;
    box-shadow: 0 30px 60px rgba(0,0,0,.12), 0 30px 60px rgba(0,0,0,.06);

    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #1977f3;
    
}

.audio-bar-img{
    max-width: 70px;
    max-height: 70px;
}

.image-box{
    display: inline-flex;
    width: 30%;
    align-items: center;
    column-gap: 25px;
}

.audio-container>audio{
    width: 30%;
}

.counter{
text-align: center;
font-size: 30px;
}

.userPlaylist{
    font-size : 25px;
    font-style: normal;
    position: relative;
    margin: 10px;
}
.userEmail{
    font-size : 25px;
    font-style: normal;
    position: relative;
    margin: 10px;
}
.changeEmailPassword{
    font-size : 15px;
    font-style: normal;
    position: relative;
    margin: 10px;
}